@import url(https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap);
:root {
  --animation-time: 1s; }

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0; }
  body h2 {
    font-family: 'Rubik Mono One', sans-serif;
    margin-left: 1em; }
  body button {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 0.8em;
    height: 2em;
    width: 8em;
    cursor: pointer;
    margin-right: 1em;
    padding-top: 2px;
    border-radius: 3px; }
  body button.success {
    border: 2px solid #28a745; }
    body button.success:hover {
      background: #28a745;
      color: #fff; }
  body button.danger {
    border: 2px solid #dc3545; }
    body button.danger:hover {
      background: #dc3545;
      color: #fff; }
  body .hidden {
    display: none; }
  body .grid {
    height: 100%;
    width: 100%;
    position: fixed;
    background: url(src/assets/grass.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3em; }
  body .row {
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: space-around; }
  body .tile {
    height: 7em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end; }
  body .hole {
    width: 9em;
    height: 3em;
    border-radius: 50%;
    background: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
  body .counter-container {
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  body .mole {
    position: relative;
    cursor: pointer;
    height: 5em;
    width: 4em;
    border-radius: 20px 20px 2px 2px;
    background: #C66B35;
    transform: translateY(4em);
    transition: transform var(--animation-time) ease-in-out; }
  body .leftEye {
    height: 1.75em;
    width: 1.25em;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    left: 0.75em;
    top: 0.5em; }
  body .rightEye {
    height: 1.75em;
    width: 1.25em;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    right: 0.75em;
    top: 0.5em; }
  body .leftPupil {
    height: 1em;
    width: 0.75em;
    background: #000;
    border-radius: 50%;
    position: absolute;
    left: 0.95em;
    top: 1em; }
  body .rightPupil {
    height: 1em;
    width: 0.75em;
    background: #000;
    border-radius: 50%;
    position: absolute;
    right: 0.95em;
    top: 1em; }
  body .mouth {
    height: 0.3em;
    width: 2.5em;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    background: red;
    left: 0.75em;
    bottom: 1.9em;
    transform: skew(55deg); }
  body .active-mole {
    border-radius: 20px 20px 2px 2px;
    height: 5em;
    width: 4em;
    bottom: 0;
    transform: translateY(0em);
    transition: transform var(--animation-time) ease-in-out; }
  body .mole-hit {
    background: orange; }
  body .scoreBar {
    background: url(src/assets/dirt.jpg);
    background-repeat: repeat-x;
    background-size: contain;
    position: absolute;
    bottom: 0;
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  body .timeContainer {
    display: flex;
    justify-content: center;
    align-items: center; }
  body .scoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid black;
    padding-left: 1em;
    margin-left: 1em; }
  body .longGrass {
    background: url(src/assets/grass-vector.png);
    height: 5em;
    width: 100%;
    z-index: 100;
    margin-top: -3em;
    position: absolute;
    top: -2em;
    background-repeat: repeat-x;
    background-size: contain; }
  body .scoreboard {
    font-family: 'Rubik Mono One', sans-serif;
    color: #BB111B;
    font-size: 1.1em; }
  body .scoreTitle {
    font-family: 'Rubik Mono One', sans-serif;
    color: #fff;
    font-size: 1.1em; }
  body .timeTitle {
    font-family: 'Rubik Mono One', sans-serif;
    color: #fff;
    font-size: 1.1em; }
  body .counter {
    font-family: 'Rubik Mono One', sans-serif;
    color: #F8D203;
    font-size: 1.1em; }


/*# sourceMappingURL=bundle.css.map*/